@model NixCinemaSite.BLL.ModelsDTO.CountryPageWithPaginationDTO

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Знайти країну за назвою" name="searchString">
        <button type="submit" class="btn btn-outline-primary">Знайти</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Country" asp-action="Index" asp-route-sortOrder="@Model.NameSort" asp-route-currentpage="@(Model.CurrentPage)" class="btn btn-primary">@Html.DisplayNameFor(model => model.Countries)</a>
            </th>
        </tr>
    </thead>
    @await Html.PartialAsync("_partialListCountryDTO", Model.Countries)
</table>

<div>
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a asp-controller="Country" asp-action="Index" asp-route-currentpage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
            </li>
        }
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-controller="Country" asp-action="Index" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a asp-controller="Country" asp-action="Index" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
            </li>
        }
    </ul>
</div>